@media screen and (max-width:1800px){

}
@media screen and (max-width:1600px){
.container {
    max-width: 1430px;
}

}

@media screen and (max-width:1440px){
.container {
    max-width: 1300px;
}
.navigation ul li {
    padding-left: 30px;
}
.featured-text h4, .featured-text p {
    font-size: 18px;
}
.innovation_btn a {
    font-size: 14px;
}
.featured-text .school h4 {
    font-size: 14px;
}
.contact_img {
    right: 15%;
}
#featured .owl-prev {
    left: -25px;
    top: 35%;
}
#featured .owl-next {
    right: -25px;
    top: 35%;
}
.featured-text ul li a {
    font-size: 14px;
}
}

@media screen and (max-width:1366px){
.container {
    max-width: 1200px;
}
.provide_services_sec .titel p {
    font-size: 18px;
    line-height: 28px;
}
.innovation_btn a {
    font-size: 12px;
}
.news_latest_text p {
    font-size: 18px;
}
.about_inner p {
    font-size: 18px;
    line-height: 28px;
}
.enquiry p, .service_hours span {
    font-size: 18px;
    line-height: 28px;
}
.copyright p, .footer_menu ul li a {
    font-size: 20px;
}
#featured .owl-next, #featured .owl-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
#featured .owl-next:after, #featured .owl-prev:after {
    font-size: 30px;
    width: 40px;
    height: 40px;
}
#featured .owl-prev {
    left: 0px;
}
#featured .owl-next {
    right: 0;
}
.navigation ul li a, .sign-in a {
    font-size: 20px;
}
}



@media screen and (max-width:1199px){
.container {
    max-width: 98%;
}
.featured-text h4, .featured-text p {
    font-size: 16px;
}
.featured-text .school h4 {
    font-size: 12px;
}
.school {
    top: 8px;
}
.featured-text h4 img {
    width: 14px !important;
    height: 14px !important;
    margin-top: 5px;
}
.innovation_btn a {
    font-size: 14px;
    width: 100%;
    margin: 10px 0 0 0;
}
.innovation_btn a.workshops {
    margin-bottom: 10px;
}
.navigation ul li a, .sign-in a, .sign-in span.arrow {
    font-size: 16px;
}
.navigation ul li {
    padding-left: 20px;
}
.services_item {
    width: 125px;
    height: 125px;
}
.services_item h4 {
    font-size: 14px;
}
.provide_services_sec, .featured_recommendations_sec, .Popular_services_sec, .news_latest_sec {
    padding: 60px 0;
}
.featured_recommendations_sec .titel h1, .Popular_services_sec .titel {
    padding-bottom: 30px;
}
.search_service a {
    margin-top: 20px;
}
.news_latest {
    padding: 30px 15px;
    margin-bottom: 30px;
}
.enquiry {
    padding: 50px 30px;
}
.enquiry_sec {
    padding-bottom: 60px;
}
.login .login_main button.close {
    top: 0;
    right: 0;
}
}

@media screen and (max-width:991px){
.navigation {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #364A8E;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 9999;
	overflow-y: scroll;
	margin:0;
}

a.closebtn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 36px;
	margin-left: 0;
	color: #fff;
	display: block;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 34px;
	text-decoration:none;
}
h1.mobile-menu {
    display: block;
    margin: 0 0 0 15px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    float: right;
}
.sign-in {
    display: flex;
    align-items: center;
}
.header {
    padding: 15px 0;
}
.navigation ul li {
    padding: 5px 0;
    display: block;
    text-align: center;
}
.navigation ul li a, .sign-in a, .sign-in span.arrow {
    font-size: 22px;
    color: #fff;
}
.footer_sec .row {
    flex-direction: column-reverse;
}
.copyright, .footer_menu {
    text-align: center !important;
}
.footer_menu {
    margin-bottom: 15px;
}
.services_item {
    width: 300px;
    height: 300px;
}
.services_item h4 {
    font-size: 18px;
}
#accordion .card-header a {
    padding: 18px 60px 18px 30px;
    line-height: 28px;
    font-size: 20px;
}
#accordion .card-header.collapsed:after {
    right: 15px;
    top: 18px;
}
#accordion .card-header:after {
    right: 15px;
    top: 18px;
}
.contact_img img {
    width: 60%;
}
.contact_img {
    right: 10%;
    bottom: -20px;
}
.carousel-indicators {
    bottom: 30px;
}
.news_latest_img {
    vertical-align: top;
}
.news_latest_text {
    vertical-align: top;
    padding-left: 30px;
}
.new_user {
    width: 100%;
    display: block;
    padding-top: 30px;
}
.login_form {
    width: 100%;
    display: block;
    padding: 0 0 30px 0;
    border-right: 0px;
    border-bottom: 2px solid #ffc235;
}
.login .login_main {
    padding: 80px 30px;
    display: block;
}
}

@media screen and (max-width:767px){
.provide_services_sec, .featured_recommendations_sec, .Popular_services_sec, .news_latest_sec {
    padding: 50px 0;
}
.featured_recommendations_sec .titel h1, .Popular_services_sec .titel {
    padding-bottom: 0px;
}
.search_service a {
    width: 270px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
}
.news_latest {
    display: block;
}
.news_latest_img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.news_latest_text {
    display: block;
    width: 100%;
    padding-left: 0;
}
.news_latest_text h3 {
    font-size: 20px;
}
.about_inner {
    padding: 50px 0;
}
.more_btn a {
    font-size: 22px;
    width: 260px;
    height: 60px;
    line-height: 60px;
    margin-top: 0;
}
.enquiry {
    padding: 50px 30px 170px 30px;
}
.enquiry h3, .common_problem_sec h3, .about_inner h3 {
    font-size: 22px;
}
.logo {
    width: 40%;
}
.header-right {
    width: 60%;
}
.copyright p, .footer_menu ul li a {
    font-size: 14px;
}
.material-chat {
    height: 50px;
    line-height: 50px;
    width: 160px;
}
.material-chat a span img {
    width: 25px;
}
.material-chat a span {
    width: 55px;
}
.material-chat a {
    font-size: 18px;
}
}

@media screen and (max-width:479px){
.services_item {
    width: 250px;
    height: 250px;
}
.enquiry_sec:before {
    width: 295px;
    height: 245px;
}
.enquiry {
    padding: 40px 20px 150px 20px;
    border-radius: 30px;
}
.enquiry p, .service_hours span {
    font-size: 16px;
    line-height: 24px;
}
#accordion .card-header a {
    font-size: 18px;
}
.about_inner p {
    font-size: 16px;
    line-height: 26px;
}
.news_latest_text p {
    font-size: 16px;
}
.provide_services_sec .titel p {
    font-size: 16px;
    line-height: 26px;
}
.login .new_user a {
    width: 100%;
}
}
@media screen and (max-width:414px){

}
@media screen and (max-width:375px){

}
@media screen and (max-width:360px){


}
